In [2]:
from urllib.request import urlretrieve
urlretrieve("https://raw.githubusercontent.com/uva-cw-ccs1/2324s2/main/week5/Tutorial/engagement_weekly.csv", "engagement_weekly.csv")
urlretrieve("https://raw.githubusercontent.com/uva-cw-ccs1/2324s2/main/week5/Tutorial/pages-info.csv", "pages-info.csv")

('pages-info.csv', <http.client.HTTPMessage at 0x120940850>)

## Dataset

This week we will work with a dataset on U.S. partisan news pages on Facebook. This data was collected and analyzed by Silverman et al. (2017) for this article published on BuzzFeed [Inside The Partisan Fight For Your News Feed](https://www.buzzfeednews.com/article/craigsilverman/inside-the-partisan-fight-for-your-news-feed). The followings are some description about the files:
- `pages-info.csv` - dataset about the identified Facebook pages. It contains the following information:
    - page_name:  name of the page on Facebook
    - about: description of the page
    - fan_count: number of fans
    - talking_about_count: number of people sharing stories about the page
    - website: name of the website related to the page
    - page_id: ID of the Facebook page
    - year: year when the page was created
    - left_leaning: political left leaning of the page (takes value 1 for pages identified as left leaning and 0 for others)
    - right_leaning: political right leaning of the page (takes value 1 for pages identified as right leaning and 0 for others)
- `engagement_weekly.csv` - dataset about engagement with the identified pages in the last week before 2016 US presidential electiosn. It contains the following information:
    - page_id: ID of the Facebook page
    - status_published: the period for which engagement was measures (in this case, it is the first week of November 2016 for all pages).
    - total_engagement: total number of engagement with the page in the week
    - num_reactions: total number of reactions posts by the page recieved in the week (including all possible Facebook reactions)
    - num_comments: total number of comments posts by the page recieved in the week
    - num_shares: total number of times posts by the page have been shared in the week
    - num_likes: total number of likes posts by the page recieved in the week
    - num_loves: total number of 'love' reactions posts by the page recieved in the week
    - num_wows: total number of 'wow' reactions posts by the page recieved in the week
    - num_hahas: total number of 'haha' reactions posts by the page recieved in the week
    - num_sads: total number of 'sad' reactions posts by the page recieved in the week
    - num_angrys: total number of 'angry' reactions posts by the page recieved in the week
    - post_count: total numer of posts posted in the week
    
## Exercise 1
### Read and explore the dataset
- Load the dataset using pandas.
- Explore the datasets: print first few rows using the method `df.head()`, check all column types using attribute `df.dtypes`, and check for missing values using `df.isna().sum()'

In [4]:
import pandas as pd

# why pd? This is arbitrary! We can also do:
#import pandas as hellokitty
# in that case, the next line would be:
# pageinfo_df = hellokitty.read_csv("pages-info.csv")

engage_df = pd.read_csv("engagement_weekly.csv")
pageinfo_df = pd.read_csv("pages-info.csv")

In [5]:
pageinfo_df.dtypes

Unnamed: 0               int64
page_name               object
about                   object
fan_count                int64
talking_about_count      int64
website                 object
page_id                  int64
year                   float64
month                  float64
day                    float64
left_leaning             int64
right_leaning            int64
dtype: object

### Exercise 2
### Defining a new column
Can you make a new column for average like per post? 

Note: dividing `num_likes` with `post_count`, save the result in a new column of the engagement dataset.

In [10]:
engage_df['num_likes']

engage_df['num_likes'] / engage_df['post_count']

engage_df['avg_count']  = engage_df['num_likes'] / engage_df['post_count']

engage_df.head()  # use this to see if you succesfully added a column

,Unnamed: 0,page_id,status_published,total_engagement,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,post_count,avg_count
0,22,100434040001314,2016-11-01,49741,35318,3105,11318,22950,1906,697,4554,1206,4005,250,91.800000
1,31,1014803551921469,2016-11-01,155745,95926,18311,41508,72594,5620,2233,5912,1000,8567,1289,56.318076
2,49,1019871961378419,2016-11-01,1192782,900218,170192,122372,675544,47614,16100,38434,73706,48820,1260,536.146032
3,60,1035617169863710,2016-11-01,2506,1497,267,742,1115,62,35,199,14,72,197,5.659898
4,70,1036253643101134,2016-11-01,656574,474432,43802,138340,359882,23549,13228,25017,6682,46074,136,2646.191176

### Exercise 3
### Merging Datasets
Can you merge the engagement dataset with the page info dataset? Remember to specify which column to join on.

Tips: use the `.merge()` function/method, remember to choose the right `how=` and `on=` parameters.

In [15]:
# this is one correct solution

df = engage_df.merge(pageinfo_df, how ='left', on = 'page_id')

df.head()

,Unnamed: 0_x,page_id,status_published,total_engagement,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,...,page_name,about,fan_count,talking_about_count,website,year,month,day,left_leaning,right_leaning
0,22,100434040001314,2016-11-01,49741,35318,3105,11318,22950,1906,697,...,Wonkette,"Welcome, Wonkette Operatives, to the Facebook ...",96322,5483,http://wonkette.com,2004.0,NaN,NaN,1,0
1,31,1014803551921469,2016-11-01,155745,95926,18311,41508,72594,5620,2233,...,SourcesNews,Unfiltered and from reliable sources news from...,59306,185,http://sourcesnews.com/,2005.0,4.0,14.0,0,1
2,49,1019871961378419,2016-11-01,1192782,900218,170192,122372,675544,47614,16100,...,Rare America,"News, issues, politics and premium video stori...",2982929,244614,NaN,NaN,NaN,NaN,0,1
3,60,1035617169863710,2016-11-01,2506,1497,267,742,1115,62,35,...,I DID NOT Vote For Hillary in 2016,NaN,36269,68,NaN,NaN,NaN,NaN,0,1
4,70,1036253643101134,2016-11-01,656574,474432,43802,138340,359882,23549,13228,...,Proud Liberal,"Your source for news, stories, and events.\r\n...",510991,41971,http://theproudliberal.org,2016.0,NaN,NaN,1,0

In [13]:

# another correct solution

df = pd.merge(engage_df, pageinfo_df)

df.head()

Empty DataFrame
Columns: [Unnamed: 0, page_id, status_published, total_engagement, num_reactions, num_comments, num_shares, num_likes, num_loves, num_wows, num_hahas, num_sads, num_angrys, post_count, avg_count, page_name, about, fan_count, talking_about_count, website, year, month, day, left_leaning, right_leaning]
Index: []

[0 rows x 25 columns]

In [16]:
# then, always check if there are NA'set
# NA's = missings

df.isna().sum()

Unnamed: 0_x             0
page_id                  0
status_published         0
total_engagement         0
num_reactions            0
num_comments             0
num_shares               0
num_likes                0
num_loves                0
num_wows                 0
num_hahas                0
num_sads                 0
num_angrys               0
post_count               0
avg_count                0
Unnamed: 0_y             0
page_name                0
about                   22
fan_count                0
talking_about_count      0
website                 22
year                   213
month                  302
day                    330
left_leaning             0
right_leaning            0
dtype: int64

### Exercise 4
### Grouping and Aggregation

Try calculate the average post count for left leaning pages and non-left learning pages.

In [18]:
groups = df.groupby("left_leaning")

In [20]:
groups.agg({"avg_count":["mean", "std"]})

                avg_count
                     mean          std
left_leaning
0             1358.796122  3561.595853
1             1539.229612  3968.324424